extends menu
block menu
	- var title = "css/main.css"
	div.grid-container
		div.menu1.active
			a(href="index.html")= "CSS"
		div.menu2
			a(href="Var8.html")= "Синтаксис CSS"
		div.menu3
			a(href="#")= "Вставка CSS"
		div.menu4
			a(href="#")= "CSS текст"
		div.menu5
			a(href="Css_font.html")= "CSS шрифт"
		div.menu6
			a(href="#")= "Блоки"
		div.img1 
			img(src="img/css1.jpg")
		div.tim-one CSS (англ. Cascading Style Sheets — каскадные таблицы стилей) — формальный язык описания внешнего вида документа, написанного с использованием языка разметки.
		div.tim-two Основным понятием CSS является стиль – т. е. набор правил оформления и форматирования, который может быть  применен к различным элементам страницы. Для присвоения какому-либо элементу определенных характеристик необходимо  один раз описать этот элемент и определить это описание как стиль, а в дальнейшем просто указывать, что элемент получить свойства выбранного стиля.
		div.tim-down
			video(src="https://youtu.be/u1b1s2Wj24s" controls)