extends menu
block menu
	- var title = "css/Var8.css"
	div.grid-container
		div.menu1
			a(href="index.html")= "CSS"
		div.menu2.active
			a(href="Var8.html")= "Синтаксис CSS"
		div.menu3
			a(href="#")= "Вставка CSS"
		div.menu4
			a(href="#")= "CSS текст"
		div.menu5
			a(href="Css_font.html")= "CSS шрифт"
		div.menu6
			a(href="#")= "Блоки"
		div.img1 
			img(src="img/css2.jpg")
		div.img2
			img(src="img/html.jpg")
		div.img3
			img(src="img/syntax.jpg")
		div.tim-one 
			p.tim-tap Задание CSS-свойствам определённых значений — это основная функция CSS. Пара свойство-значение называется объявлением. Работа CSS движка заключается в поиске соответствий между объявлениями стилей и элементом на странице, чтобы правильно отобразить и форматировать этот элемент. text text text text text text text  text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
		div.tim-two 
			p.tim-tap Свойство, и значения регистрозависимы. Пара свойство-значение разделяется двоеточием, ':', а пробелы до, между и после свойства или значения игнорируются.
		div.tim-three
			p.tim-tap Объявления группируются в блоки, структура которых состоит из открывающейся , '{', и закрывающейся, '}' фигурных скобок.
